# IntelliJ
.idea/
out/
*.iml

# Java
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle/
build/
# !gradle-wrapper.jar
gradle-wrapper.properties
build.gradle
gradlew
gradlew.bat
settings.gradle

# Log
.log